body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}
